################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp7FeatureDemo/v15/.suo
/CSharp7FeatureDemo/bin/Debug/netcoreapp1.0
/CSharp7FeatureDemo/obj
/.vs/CSharp7FeatureDemo/v14/.suo
